@import url("https://fonts.googleapis.com/css?family=Muli");

:root {
  --line-border-fill: rgb(80, 243, 255);
  --line-border-empty: #464545;
  --background: #000000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Muli", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 400px;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: var(--background);
  color: var(--line-border-empty);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid var(--line-border-empty);
  transition: 0.4s ease 0.2s;
}

.circle.active {
  border-color: var(--line-border-fill);
  color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: var(--background);
  text-transform: uppercase;
  /* width: 100px;
  height: 35px; */
  margin: 10px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.7rem;
  padding: 8px 24px;
  border-radius: 5px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
